services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: cep-temperature
    restart: always
    ports:
      - 8080:8080 
    volumes:
      - ./config:/app/config
